<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chris.backstockmanager" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeScreenActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.chris.backstockmanager.MainActivity" />
        </activity>
        <activity
            android:name=".InitPass"
            android:label="@string/title_activity_init_pass"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.chris.backstockmanager.MainActivity" />
        </activity>
        <activity
            android:name=".TotesActivity"
            android:label="@string/title_activity_totes"
            android:parentActivityName=".HomeScreenActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.chris.backstockmanager.HomeScreenActivity" />
        </activity>
        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting"
            android:parentActivityName=".HomeScreenActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.chris.backstockmanager.HomeScreenActivity" />
        </activity>
        <activity
            android:name=".Users"
            android:label="@string/title_activity_users"
            android:parentActivityName=".HomeScreenActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.chris.backstockmanager.HomeScreenActivity" />
        </activity>
        <activity
            android:name=".TestDb"
            android:label="@string/title_activity_test_db" >
        </activity>
        <activity
            android:name=".AddUsers"
            android:label="@string/title_activity_add_users"
            android:parentActivityName=".Users" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.chris.backstockmanager.Users" />
        </activity>
    </application>

</manifest>
